body {
  font-family:Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    71deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(174, 53, 199, 1) 35%,
    rgba(103, 104, 216, 1) 55%,
    rgba(30, 55, 245, 1) 70%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0;
  min-height: 100vh;
  color: #fff; 
  font-family: 'Poppins', sans-serif; 
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(
    71deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(174, 53, 199, 1) 35%,
    rgba(103, 104, 216, 1) 55%,
    rgba(30, 55, 245, 1) 70%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 200% 200%; /* Bu değeri ayarlayarak dalgalanma genişliğini kontrol edebilirsiniz */
  background-position: 0% 50%;
  animation: waveAnimation 30s infinite;
}

header .container-fluid {
  background-image: url('pic.webp');
  background-size: cover; /* Resmi container'ın boyutlarına sığacak şekilde ölçekler */
  background-position: center; /* Resmi container'ın ortasına yerleştirir */
  background-repeat: no-repeat; /* Resmi tekrar etmez */
  
}

header h1{
  font-size: 3.75rem;
  color: #000000;
  background: rgba(255, 255, 255, 0.137);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;  margin-top: 7px;
}


#formInput.form-control {
  color: #fff;
  background: none;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 0;
  box-shadow: none;
}

#formInput::placeholder {
  color: white;
  font-size: 1.25rem;
}

P{
  color: white;
  font-size: 1.25rem;
}

#contentRow, #alertDiv{
  border-radius: 10px;
  background: linear-gradient(to right, 
      rgba(2, 0, 36, 0.5) 0%, 
      rgba(174, 53, 199, 0.5) 35%, 
      rgba(103, 104, 216, 0.5) 55%, 
      rgba(30, 55, 245, 0.5) 70%, 
      rgba(0, 212, 255, 0.5) 100%
  );
}

#alertDiv{
  background-color: rgb(20, 202, 0);
}

#alertDiv p{
  text-align: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
}


@media (max-width: 576px) {
  header h1{
    font-size: 2.25rem;
    
  }
  .btn-danger{
    width:70%;
  }
} 



.col-9 {
  overflow-wrap: break-word;
}

.btn-danger{
  width: 100%;
}